body{
    font-family: Arial, Verdana;
    background-color: #000000;
    color: #ffffff;
    margin: 20px 20px 0px 20px;
}
h1{
   font-size: 42px;
   text-align: center; 
   padding: 15px;
}
h2{
    font-size: 30px;
    color: #0D0D0D;
}
p{
    font-size: 24px;
    padding: 10px 0px 0px 10px;
}
img{
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: dashed 10px #ffffff;
}
div{
    min-height: 125px;
    padding: 20px;
    border: solid 3px #ffffff;
}
.introduction{
    border-radius: 15px;
    margin: 15px 0px 0px 0px;
    line-height: 2;
}
.red{
    background-color: #ff0000;
    text-align: right;
    margin-left: 50px;
    border-width: 0px 0px 2px 5px;
}
.blue{
    background-color: #0000ff;
    text-align: left;
    margin-right: 50px;
    border-width: 2px 5px 0px 0px;
}
.blue > h2, .blue > p{
    color: #C4C4C4;
}
.yellow{
    background-color: #ffff00;
    text-align: right;
    margin-left: 50px;
    border-width: 0px 0px 2px 5px; 
}
.yellow > p{
    color:  #707070;
}
.green{
    background-color: #008500;
    text-align: left;
    margin-right: 50px;
    border-width: 2px 5px 0px 0px;
}
footer{
    background-image: linear-gradient(to right, #000000, #0000ff 25%, #0066ff 70%, #000000);
    border: solid 5px #ffffff;
}
footer > p{
    font-size: 20px;
    text-align: right;
    padding: 15px 15px 15px 0px;
}